<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoh.electric.mapper.FactoryMapper">

    <resultMap id="FactoryResultMap" type="com.gaoh.electric.model.Factory">
    </resultMap>

    <insert id="insertFactory" parameterType="Factory" useGeneratedKeys="true" keyProperty="id">
        insert into t_factory values (#{id}, #{name}, #{description}, #{status})
    </insert>

    <update id="updateFactoryById" parameterType="Factory">
        update t_factory set
        <if test="description != null"> description = #{description}, </if>
        id = #{id}
        where id = #{id}
    </update>

    <delete id="deleteFactoryById">
        delete from t_factory where id = #{id}
    </delete>

    <select id="selectFactoryById" resultMap="FactoryResultMap">
        select * from t_factory where id = #{id}
    </select>

    <select id="listFactory" resultMap="FactoryResultMap">
        select * from t_factory where name like #{query} or description like #{query}
    </select>

    <select id="selectFactoryByName" resultMap="FactoryResultMap">
        select * from t_factory where name = #{name}
    </select>
</mapper>